{{#if producto}}
    <div class="padre">
        <h2>Detalle del producto</h2>
            <div class="detalle">
                    <div class="cardDetail">
                        <form action="/detalle/{{producto.id}}" method="post">
                            <h3>{{producto.nombre}}</h3>                            
                            <img class="imgCarrito" src="{{producto.url}}" alt="{{producto.nombre}}">
                            <h3>Precio: ${{producto.precio}}</h3>
                            <h3>Stock disponible: {{producto.stock}}</h3>
                            <h3>{{producto.descripcion}}</h3>
                            <h3>Categoria: {{producto.categoria}}</h3>
                        {{#if admin}}
                            <h3>Editar producto</h3>
                            <input class="contrase単a" id="nombre" type="text" name="nombre" placeholder="Nuevo nombre" required />
                            <input class="contrase単a" id="url" type="url" name="url" placeholder="Nueva url de la imagen" required />
                            <input class="contrase単a" id="precio" type="number" name="precio" placeholder="Nuevo precio" required />
                            <input class="contrase単a" id="stock" type="number" name="stock" placeholder="Nuevo stock" required />                     
                            <button class="botonEnviar" type="submit">Editar producto</button>
                        </form>
                        <form action="/productos/{{producto.id}}" method="post">
                            <button type="submit" class="userBtn">Eliminar producto</button>
                        </form>
                        {{/if}}
                    </div>
            </div>
        </div>
{{else}}
    <div class="ordenBotones">
        <h2 class="noHay">No hay productos</h2>       
    </div>
{{/if}}