{{#if productos}}
    <div class="padre">
        <h2>Productos cargados</h2>
            <div class="tabla">
                <table>
                    <tr>
                        <th class="tituloTabla">Nombre</strong></th>
                        <th class="tituloTabla">Precio</strong></th>
                        <th class="tituloTabla">Foto</strong></th>
                    </tr>
                    {{#each productos}}
                        <tr>
                        <th>{{this.nombre}}</th>
                        <th>{{this.precio}}</th>
                        <th>
                            <a href="/productos/{{this.id}}">
                                <img src="{{this.url}}" alt="{{this.nombre}}">
                            </a>
                            
                        </th>
                    </tr>
                    {{/each}}
                </table>
            </div>
        <a class="boton" href="/productos">
            <button>Seguir cargando</button>
        </a>
        </div>
{{else}}
    <div class="ordenBotones">
        <h2 class="noHay">No hay productos</h2>
        <a class="boton" href="/productos">
            <button>Seguir cargando</button>
        </a>        
    </div>
{{/if}}
