<div class="titulo">
    <div class="user">
        {{#if user}}
            <h2 class="mail">Bienvenido {{user}}</h2>
            <button onclick="location.href='/logout'" id="userBtn">
                <img class="logoutBtn" src="/cambiar.png" alt="">
            </button>
        {{/if}}
    </div>
</div>
<div class="papa">
        <div class="dropdown">
        <button class="drop">Categorias</button>
        <div class="dropdown-content">
            <a href="/todo">Todo</a>
            <a href="/gorras">Gorras</a>
            <a href="/remeras">Remeras</a>
            <a href="/pantalones">Pantalones</a>
            <a href="/medias">Medias</a>
        </div>
        </div>
    </div>
{{#if productos}}
    <div class="padre">
        <h2>Productos disponibles</h2>
            <div class="productos">
                {{#each productos}}
                    <div class="card">
                        <h3>{{this.nombre}}</h3>
                        <a href="/productos/{{this.id}}">
                            <img class="imgCarrito" src="{{this.url}}" alt="{{this.nombre}}">
                        </a>
                        <h3>Precio: ${{this.precio}}</h3>
                        <h3>Categoria: {{this.categoria}}</h3>
                        <form action="/carrito/{{this.id}}/productos" method="post">
                            <button type="submit" class="userBtn">Agregar al carrito</button>
                        </form>
                    </div>
                {{/each}}
            </div>
        </div>
{{else}}
    <div class="ordenBotones">
        <h2 class="noHay">No hay productos</h2>       
    </div>
{{/if}}
{{#if admin}}
<div class="ordenForm">
    <h2>Ingrese Producto</h2>
    <fieldset>
        <div  class="flexForm">                
            <img src="/dibujo.svg" alt="">
            <form id="productForm" action="/productos" method="POST">
                <input class="contraseña" id="nombre" type="text" name="nombre" placeholder="Nombre" required />
                <input class="contraseña" id="descripcion" type="text" name="descripcion" placeholder="Descripcion" required />
                <input class="contraseña" id="url" type="url" name="url" placeholder="Thumbnail" required />
                <input class="contraseña" id="precio" type="number" name="precio" placeholder="Precio" required />
                <input class="contraseña" id="stock" type="number" name="stock" placeholder="Stock" required />
                <input class="contraseña" id="categoria" type="text" name="categoria" placeholder="Categoria" required />
                <button class="botonEnviar" type="submit">Enviar</button>
            </form>  
        </div>              
    </fieldset>
</div>
{{/if}}
